/* Products.css */
.products-container {
  display: flex;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 0 1rem; 
}

.filter {
  flex: 1;
  margin-right: 2rem;
}

.filter h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.filter ul {
  list-style: none;
  padding: 0;
}

.filter li {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.filter li:hover {
  background-color: #1ce971; 
  color: #fff;
}

.products-list {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  background-color: #282c34;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(33% - 1rem);
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 255, 0, 0.5); 
}

.product-image {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 1rem;
}

.product-title {
  font-size: 1.25rem;
  margin: 0;
}

.product-price {
  font-size: 1.1rem;
  color: #1ce971; 
}

.product-brand {
  font-size: 0.9rem;
  color: #ddd;
}

.buy-button {
  background-color: #1ce971;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.buy-button:hover {
  background-color: #17b060; 
}


@media (max-width: 768px) {
  .products-container {
    flex-direction: column;
    padding: 0 0.5rem;
  }

  .filter {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .products-list {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }
}


@media (max-width: 480px) {
  .filter h2 {
    font-size: 1.25rem;
  }

  .filter li {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .product-title {
    font-size: 1rem;
  }

  .product-price {
    font-size: 1rem;
  }

  .product-brand {
    font-size: 0.8rem;
  }

  .buy-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
